<!DOCTYPE html>
<html>
<head>
    <title>Página Inicial</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="container">
        <h1>Bem-vindo à Página Inicial</h1>
        <p>Escolha uma opção:</p>

        <div class="row">
            <div class="col-md-6">
                <a href="caminho_para_pagina_de_login" class="btn btn-primary btn-lg btn-block">Login</a>
            </div>
            <div class="col-md-6">
                <a href="caminho_para_pagina_de_registro" class="btn btn-secondary btn-lg btn-block">Registrar</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a href="caminho_para_pagina_de_contato" class="btn btn-info btn-lg btn-block">Fale Comigo</a>
            </div>
        </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
